{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %} 重置密码 {% endblock %}

{% block page_content %}
    <h1 align="center">重置密码</h1>
    <div align="center">
        <ul class="nav nav-pills">
            <li role="presentation"><a href="{{ url_for('users.reset_password') }}">①输入用户名或邮箱</a></li>
            <li role="presentation"><a href="#">②输入验证码</a></li>
            <li role="presentation" class="active"><a href="#">③设置密码</a></li>
            <li role="presentation"><a href="#">④完成</a></li>
        </ul>
    </div>
    <hr>
    {{ wtf.quick_form(form3,button_map={'submit':'primary'}) }}
{% endblock %}