{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% from 'marco2.html' import show_pagination %}
{% block title %}首页{% endblock %}

{% block page_content %}
    <h1 align="center">符合条件</h1>
    {% for post in posts %}
        <div class="media">
            <div style="float: left">
                <a href="{{ url_for('users.udetail',uid=post.user.id) }}">
                    <img class="media-object" src="{{ url_for('static',filename = 'uploads/' + post.user.icon) }}"
                         style="width: 50px;height: 50px;border-radius: 25px;" alt="用户头像">
                </a>
            </div>
            <div class="media-body">
                <h3 class="media-heading">{{ post.user.username }}</h3>
                <p>{{ moment(post.timestamp).fromNow() }}&nbsp;&nbsp;访问量:{{ post.visitors }}</p>
                <div><a href="{{ url_for('users.comment',pid=post.id) }}">{{ post }}</a></div>
            </div>
            {# 显示缩略图 #}
            <div style="float: right;">
                <a href="#">
                    <img class="media-object" src="{{ url_for('static',filename = 'uploads/' + post.pic) }}"
                         style="width: 60px;height: 60px;" alt="帖子缩略图">
                </a>
            </div>
            {# 收藏 #}
            {% if current_user.is_authenticated %}
                <div url="{{ url_for('users.collect',pid=post.id) }}" class="collect" style="cursor: pointer">{% if current_user.is_favorites(post.id) %}取消收藏{% else %}收藏{% endif %}</div>
            {% endif %}

        </div>
        <hr>
    {% endfor %}
    <hr>
    {{ show_pagination(pagination,search,category) }}

{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript">
        $(function () {
            $('.collect').click(function () {
                _this = this;
                $.get($(this).attr('url'), function () {
                    if ($(_this).text() == '收藏') {
                        $(_this).text('取消收藏')
                    } else {
                        $(_this).text('收藏')
                    }
                })
            })
        })
    </script>
{% endblock %}
